title: Markdown
tagline: How to markdown
description: A short course detailing some commonly used markdown syntax

# Repository setup
# The following section template information for the repository
# This will be used when the repository is crated for each individual learner

template:
  name:     markdown-lab
  repo:     lab-starter-template
# `before` block
# Actions to take place after the learner registers, but before they start interacting with their repo

before:
- type: respond
  with: 01_first-response.md
# Steps for the course
# A list of steps that take the learner through the course
# Create one step for each action that a learner will complete

steps:
# Commit a markdown file, start a pull request where the rest of the course will take place
- title: Commit a markdown file
  description: Create a markdown file on a new branch, and commit it and start a pull request called "Add markdown file"
  event: pull_request
  actions: # a list of the actions that will occur when the step is triggered by an event
  - type: gate
    left: '%payload.pull_request.title%'
    operator: ===
    right: Add markdown file
    else:
    - type: respond
      with: 01_try-again.md
  - type: respond
    with: 01_nice-work.md

# add a header to the markdown file using #
- title: Add a header to your markdown file
  description: Using the '#' syntax, create a header at the top of the markdown file, and commit the changes


# Add a list to the markdown file
- title: Add a list to your markdown file
  description: Using the '-' syntax, create a short list in your markdown file, and commit the changes


# Create a code block
- title: Create a code block in your markdown file
  description: Using the tab syntax, create a code block in your markdown file, and commit the changes


# Insert an image
- title: Insert and image in your markdown file
  description: Using the image syntax, insert an image of your choice in your markdown file, and commit the changes


